#score {
  position: absolute;
  color: white;
  font-size: 3em;
  font-weight: bold;
  top: 30px;
  right: 30px;
  z-index: 1;
}
canvas {
  position: fixed;
  left: 0;
  top: 0;
  outline: none;
  border: none;
}
#reset {
  position: absolute;
  color: black;
  font-size: medium;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}
